$main-dark: #212529;
$sub-dark: #2B3035;
$light-grey: #40464d;
$white: #F8F9FA;
$accent: #17A2B8;

.content {
    background-color: $sub-dark;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.map {
    flex: 7; 
    background-color: $accent; 
}

.filters {
    flex: 3;
    min-height: 30vh;
    max-height: 30vh;
    background-color: $sub-dark;
    padding: 1rem;
    color: $white;

    display: flex;       
    gap: 1rem;           
}

.filters > div {
    flex: 1;             
    display: flex;
    flex-direction: column;
}

.ssids, .devices {
    display: flex;
    flex-direction: column;
}

.ssids-list, .devices-list {
    flex: 1;
    overflow-y: auto;
}


.heading {
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid $white;
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
}

label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: $accent;
}

select {
    margin-top: 0.5rem;
    padding: 0.3rem;
    border-radius: 5px;
    border: none;
    background-color: $main-dark;
    color: $white;
}

.ssidInput {
    width: 100%;
    margin-bottom: 5px;
    background-color: $sub-dark;
    font-size: 16px;
    color: $white;
}

.devices-list > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}